PORT=3000
NODE_ENV=production

DB_HOST=postgres 
DB_PORT=5432
DB_NAME=levelup
DB_USER=proy2
DB_PASSWORD=secret

JWT_SECRET=levelup!2000
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=levelupREFRESH!3023
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:8080

VITE_API_URL=http://localhost:3001/api/v1