PORT=3000
DB_USER=postgres
DB_PASSWORD=morde58265882
DB_HOST=localhost
DB_PORT=5432
DB_NAME=levelup
JWT_SECRET=clave_secreta_access_muy_larga
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=clave_secreta_refresh_diferente
JWT_REFRESH_EXPIRES_IN=7d